.ant-spin-container::after {
  background-color: #f0f2f5;
}
.login-form {
  margin: auto;
  width: 300px;
}
.link-element {
  color: #126adf;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.register-form {
  margin: auto;
  width: 300px;
}
