.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #40a9ff;
  display: inline;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

.link-button-disable {
  @extend .link-button;
  cursor: no-drop;
}

.link-button:hover {
  text-decoration: underline;
}

.editable-row {
  text-align: center;
}

.ant-table-column-sorters-with-tooltip {
  text-align: center;
}

.add_button {
  text-align: left;
  padding-bottom: 10px;
}
.td-edit {
  padding: 14px 5px !important;
}

.form-input {
  text-align: center;
  padding: 4px 10px !important;
}
