.App {
  text-align: center;

  .main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .header-style {
      height: 70px;
      flex-shrink: 0;
    }
    .center-container {
      flex: 1 0 auto;
      text-align: center;
      padding: 0 10px;
    }
    .footer-style {
      height: 50px;
      flex-shrink: 0;
    }
  }
}
