.slider-container {
  .slider-logo {
    box-sizing: border-box;
    height: 170px;
    text-align: center;
    background-color: white;
    border: black 5px solid;
    .big-logo {
      position: absolute;
      left: -70px;
      top: 45px;
      width: 180px;
      transform: translateX(80px);
      transition: transform 1s;
    }
    .small-logo {
      width: 67px;
      margin-top: 5px;
    }
  }
}
